version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
      - '5000:5000'
    environment:
      NODE_ENV: development
      PORT: 3000
      PYTHON_SERVER_PORT: 5000
      NEXT_PUBLIC_PYTHON_API_URL: http://localhost:5000
      FLASK_DEBUG: 'true'
    volumes:
      - ./src:/app/src
      - ./api:/app/api
